In [1]:
import pandas as pd

df = pd.read_csv('pokemon_data.csv')

# df_xlsx = pd.read_excel('pokemon_data.xlsx')
# df_txt = pad.read_csv('txt_filename.txt', delimeter='xxx')

print(df.head(5))

   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

Reading Data in Pandas

In [2]:
# # Read headers
# print(df.columns)

# # Read each column (specific)
# print(df['Name'][0:5])

# print("-----------")

# # Reading multiple columns at the same time

# print(df[['Name','HP','Attack']][0:5])

# print("-----------")

# # Read each row and multiple rows
# print(df.iloc[1:4])

# print("-----------")

# # Read a specific location ( (R,C) in the matrix)

# print(df.iloc[2,1])

# print("------------")

# Iteration over rows

# for index,row in df.iterrows():
#     print(index,row['Name'])

# use of df.loc

# print(df.loc[ (df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') ] )

Sorting and Describing data

In [3]:
# Gives the statistics like count, mean, SD , min and max etc
print(df.describe())

                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

In [4]:
df.sort_values(['Type 1','HP'],ascending= [1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

Making changes to the data

In [5]:
# adding a new column by summing up some of the existing ones

df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Speed']

In [6]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,188
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,245
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,325
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,383
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,199

In [7]:
df['Total'] = df['HP'] + df['Total'] + df['Sp. Def'] + df['Sp. Atk']

In [8]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,363
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,465
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,605
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,705
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,348

In [9]:
df.sort_values('Total',ascending=False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,886
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,886
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,885
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,870
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,870
...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,280,Ralts,Psychic,Fairy,28,25,25,45,35,40,3,False,226
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False,225
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False,220
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False,220
206,191,Sunkern,Grass,NaN,30,30,30,30,30,30,2,False,210

In [10]:
# dropping a column/columns from a dataframe

df = df.drop(columns=['Total'])

In [11]:
# adding in another way

df['Total'] = df.iloc[:,4:10].sum(axis=1)

In [12]:
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [13]:
# CHANGING THE POSITION OF A SPECIFIC COLUMN

cols = list(df.columns.values)
df = df[ cols[0:4] + [cols[-1]] + cols[4:12] ]
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

SAVING DATA TO A CSV

In [14]:
df.to_csv('modified.csv',index=False)

In [15]:
df.to_excel('modified.xlsx',index=False)

In [16]:
df.to_csv('modified.txt',index=False,sep='\t')

FILTERING DATA

In [29]:
new_df = df.loc[(df['Type 1']=='Grass') & (df['Type 2']=='Poison') & (df['HP'] > 70)]

In [30]:
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [31]:
# REMOVE THE OLD INDICES

new_df.reset_index(drop=True, inplace=True)  # sets new indices and put old indices as a new column, with drop = True, drops the old indices. inplace = true, no need to save to a new df
new_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

In [32]:
df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [37]:
# print only those rows containing mega in their names

df.loc[ ~ df['Name'].str.contains('Mega') ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [44]:
#df.loc[ (df['Type 1'] == 'Grass') | (df['Type 1'] == 'Fire') ]
import re

df.loc[ df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True) ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,350,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [50]:
df.loc[ df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True) ]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

CONDITIONAL CHANGES

In [58]:
df = pd.read_csv('modified.csv')
df.loc[df['Total']>500,['Generation','Legendary']] = [2,True]

In [59]:
df.loc[df['Legendary']==True]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,2,True
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,2,True
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,2,True
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,2,True
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,2,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,2,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,2,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,2,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,2,True

AGGREAGTE STATS ( GROUP BY )

In [77]:
df = pd.read_csv('modified.csv')

#df.groupby(['Type 1']).mean(numeric_only=True).sort_values('Defense',ascending=False)

df['count'] = 1

df.groupby(['Type 1','Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64